.shadow {
    content: ;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 4;
}

.carousel-item img {
    height: 80vh;
    object-fit: cover;
}